## NPM libraries
node_modules/

## Shadow CLJS files
.nrepl-port
.shadow-cljs/
public/js/cljs-runtime/
public/js/main.js
public/js/manifest.edn
server.js

*.sqlite3
*.db
config.json
*.diff

deploy.sh
