## NPM libraries
node_modules/
package-lock.json

## Shadow CLJS files
.nrepl-port
.shadow-cljs/
public/js/cljs-runtime/
public/js/main.js
public/js/manifest.edn

*.sqlite3
*.db
config.json
*.diff

deploy.sh
