.stoplight {
  background-color: black;
  border-radius: 100%;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.stoplight.green {
  background-color: green;
}

.stoplight.yellow {
  background-color: yellow;
  border: 1px solid #ccc;
}

.stoplight.red {
  background-color: red;
}

.feather-icon {
  fill: none;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: currentColor;
  width: 24px;
}

.feather-icon.stoplight-red {
  fill: red;
  color: #000;
}

.stoplight-column {
  text-align: center !important;
  width: 100px;
}

.table .sort-icon {
  height: 16px;
  margin-left: 4px;
  margin-top: 4px;
  vertical-align: top;
  width: 16px;
}

.github-icon {
  display: inline-block;
  margin-right: 5px;
  margin-top: 2px;
  vertical-align: top;
}

/* -----------------------------------------------------------------------------
/* Student Card
/* ---------------------------------------------------------------------------*/

.student-card figure {
  margin-left: 0;
  margin-right: 0;
}

.student-card .card-content {
  padding: 1.1rem;
}

.student-card .tile-top {
  margin-bottom: 15px !important;
}

.student-card .thin-header {
  border-bottom: 1px solid #e4e4e4;
  color: #666;
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}

.student-card .recorded-by {
  color: #777;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
}

.student-card .comment {
  font-size: 0.75em;
  padding: 1em 1em;
}

.student-card .tags {
  margin-bottom: 0.1em;
}

.student-card .stoplight-status {
  margin-bottom: 0.6em !important;
}

/* -----------------------------------------------------------------------------
/* Commit Graph
/* ---------------------------------------------------------------------------*/

.commit-graph .cell {
  height: 10px;
  margin-right: 3px;
  width: 10px;
}

.commit-graph .row {
  display: flex;
  margin-bottom: 3px;
}

.commit-graph .day {
  background: green;
}

.commit-graph .day-abbreviation {
  font-size: 9px;
}

.commit-graph .week-count {
  font-size: 9px;
  height: 10px;
  margin-right: 3px;
  width: 18px;
  text-align: right;
}
